@page "/counter"

<PageTitle>Zostaw ślad</PageTitle>


<img src="images/images_001_002.jpg" />

<h1>Zostaw ślad</h1>

<p role="status">Byli tu: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Kliknij, co Ci szkodzi</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
