@page "/"

<PageTitle>Index</PageTitle>

<h1>Witaj w nowym planerze wyjazdów</h1>
<h2 style="font-size:medium; color:darkblue; font-style:italic"> Małgorzata Michalska, indeks nr: 113857</h2>



<img src="images/images_001_001.jpg" />

<SurveyPrompt Title="How is Blazor working for you?" />
